@model Application.DTO.User.UserDTO

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Profile</h2>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="@Url.Content("~/Content/assets/img/find_user.png")" />
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd class="form-control" style="margin-bottom:5px;">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd class="form-control" style="margin-bottom:5px;">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>

        <dd class="form-control" style="margin-bottom:5px;">
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>
        <dt style="margin-bottom:5px;">
            User Level
        </dt>
        @if (Model.IsAdmin)
        {
            <dd class="form-control" style="margin-bottom:5px;">Admin User</dd>
        }
        else
        {
            <dd class="form-control" style="margin-bottom:5px;">Simple User</dd>
        }
        <dt style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.IsDisabled)
        </dt>
        @if (Model.IsDisabled)
        {
            <dd class="form-control" style="margin-bottom:5px;">True</dd>
        }
        else
        {
            <dd class="form-control" style="margin-bottom:5px;">False</dd>
        }
        <dt style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd class="form-control" style="margin-bottom:5px;">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt style="margin-bottom:5px;">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd class="form-control" style="margin-bottom:5px;">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
</div>
