@model FileShareWebUI.ViewModels.FolderViewModel
@{
    ViewBag.Title = "Folder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <button style="margin:10px;" onclick="NewFolderModal()" class="btn btn-success"><i class="fa fa-plus"></i> new folder</button>
        <button style="margin:10px;" onclick="UploadModal()" class="btn btn-info"><i class="fa fa-upload"></i> upload</button>
    </div>
    <div class="col-md-6">
        <div class="alert alert-success alert-dismissable" id="divSuccess" hidden>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p id="txtSuccess"></p>
        </div>
        <div class="alert alert-danger alert-dismissable" id="divError" hidden>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p id="txtError"></p>
        </div>
    </div>
    <div class="col-md-3">
        <a style="margin:10px;float:right;" href="@Model.ReturnUrl" class="btn btn-default">return <i class="fa fa-arrow-circle-o-right"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Folder : @Model.Folder.Title
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    @{bool IsOdd = true; }
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th style="text-align:center;">Title</th>
                                <th style="text-align:center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cnt in Model.Contents.OrderByDescending(p => p.ContentType))
                            {
                                if (IsOdd)
                                {
                                    <tr class="odd gradeA">
                                        <td style="text-align:center;">@cnt.Title</td>
                                        @if (cnt.ContentType == FileShareWebUI.Helpers.FolderContentType.File)
                                        {
                                            <td style="text-align:center;">
                                                <a target="_blank" href="@Url.Action("DownloadFile", "Home", new { FilePath = cnt.Path })" class="btn btn-primary">Download</a>
                                                <a href="@Url.Action("ViewFile", "Home", new { FilePath = cnt.Path,FolderId = Model.Folder.Id })" class="btn btn-default">View</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">
                                                <a href="@Url.Action("SubFolder", "Home", new { FolderId = Model.Folder.Id,FolderPath = cnt.Path })"
                                                   class="btn btn-default">Browse</a>
                                            </td>
                                        }
                                    </tr>
                                }
                                else
                                {
                                    <tr class="even gradeA">
                                        <td style="text-align:center;">@cnt.Title</td>
                                        @if (cnt.ContentType == FileShareWebUI.Helpers.FolderContentType.File)
                                        {
                                            <td style="text-align:center;">
                                                <a href="@Url.Action("DownloadFile", "Home", new { FilePath = cnt.Path })" class="btn btn-primary">Download</a>
                                                <a href="@Url.Action("ViewFile", "Home", new { FilePath = cnt.Path,FolderId = Model.Folder.Id })" class="btn btn-default">View</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">
                                                <a href="@Url.Action("SubFolder", "Home", new { FolderId = Model.Folder.Id,FolderPath = cnt.Path })"
                                                   class="btn btn-default">Browse</a>
                                            </td>
                                        }
                                    </tr>
                                }
                                IsOdd = !IsOdd;
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
<div class="modal fade" id="NewFolderModal" tabindex="-1" role="dialog" aria-labelledby="NewFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Folder</h4>
            </div>
            @using (Html.BeginForm("AddSubFolder", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="modal-body">
                <input class="form-control" name="FolderName" id="FolderName" placeholder="Folder Name" autofocus />
                <input class="form-control" name="RootPath" id="RootPath" value="@Model.Folder.Path" style="display:none;" />
                <input class="form-control" name="FolderId" id="FolderId" value="@Model.Folder.Id" style="display:none;" />
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="UploadModal" tabindex="-1" role="dialog" aria-labelledby="UploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload File</h4>
            </div>
            @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <input class="form-control" name="FileUpload" id="FileUpload" type="file" />
                    <input class="form-control" name="RootPath" id="RootPath" value="@Model.Folder.Path" style="display:none;" />
                    <input class="form-control" name="FolderId" id="FolderId" value="@Model.Folder.Id" style="display:none;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Upload</button>
                </div>
            }
        </div>
    </div>
</div>
@section Styles
    {
    <link href="@Url.Content("~/Content/assets/js/dataTables/dataTables.bootstrap.css")" rel="stylesheet" />
}
@section Scripts
    {
    <!-- DATA TABLE SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/js/dataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/dataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.modal').on('shown.bs.modal', function () {
                $(this).find('[autofocus]').focus();
            });
            $('#dataTables-example').dataTable();
            if ('@TempData["FolderPageSuccess"]' != "")
            {
                $("#txtSuccess").text('@TempData["FolderPageSuccess"]');
                $("#divSuccess").removeAttr('hidden');
                window.setTimeout(function ()
                {
                    $("#divSuccess").attr('hidden', 'hidden');
                }, 10000);
            }
            if ('@TempData["FolderPageError"]' != "")
            {
                $("#txtError").text('@TempData["FolderPageError"]');
                $("#divError").removeAttr('hidden');
                window.setTimeout(function ()
                {
                    $("#divError").attr('hidden', 'hidden');
                }, 10000);
            }
        });
        function DeleteFolder(e, folderId, FolderTitle)
        {
            e.preventDefault();
            $("#txtFolderName").text(FolderTitle);
            $("#btnDeleteFolder").attr('href', '@Url.Action("SubmitDeleteFolder", "Home")' + '?FolderId=' + folderId);
            $("#DeleteModal").modal();
        }
        function NewFolderModal()
        {
            $("#NewFolderModal").modal();
        }
        function UploadModal()
        {
            $("#UploadModal").modal();
        }
    </script>
}