@model List<string>
@{
    ViewBag.Title = "MovieViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<video controls crossorigin playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" id="player">
    <!-- Video files -->
    <source src="@Model.First()" type="video/mp4" size="576">
    <source src="@Model.First()" type="video/mp4" size="720">
    <source src="@Model.First()" type="video/mp4" size="1080">
    <source src="@Model.First()" type="video/mp4" size="1440">

    <!-- Caption files -->
    <track kind="subtitles" label="Persian" srclang="fa" src="~/files/demo.srt" default>

    <!-- Fallback for browsers that don't support the <video> element -->
    <a href="#" download>Download</a>
</video>

@section Styles
    {
    <link href="@Url.Content("~/Content/assets/vendor/plyr/css/plyr.css")" rel="stylesheet" />
}
@section Scripts
    {
    <script src="@Url.Content("~/Content/assets/vendor/plyr/js/plyr.js")"></script>
    <script src="@Url.Content("~/Content/assets/vendor/plyr/js/plyr.polyfilled.js")"></script>
    <script>
        const player = new Plyr('#player');
    </script>
}

